.landing-page {
    display: flex;
    align-items: center;
    padding-bottom: 8em;
}

.tertiary-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    background: var(--tertiary-container);
    border-radius: 20px;
}

.tertiary-logo-box img {
    height: 5vh;
    object-fit: contain;
}

.primary-taskName {
    margin-left: 0.2em;
    color: var(--primary);
}

.spotify-login {
    background: var(--primary-container);
    color: var(--on-primary-container);
    font-size: 25px;
    border-radius: 20px;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    left: 5vh;
}

@media screen and (min-width: 768px) {
    .tertiary-logo-box {
        height: 20vh;
        width: 20vh;
        border-radius: 40px;
    }

    .tertiary-logo-box img {
        height: 10vh;
    }

    .primary-taskName {
        font-size: 100px;
    }

    .spotify-login {
        font-size: 30px;
        left: auto;
    }
}

@media screen and (min-width: 1024px) {
    .tertiary-logo-box {
        border-radius: 50px;
    }

    .primary-taskName {
        font-size: 150px;
    }

    .spotify-login {
        font-size: 50px;
        border-radius: 30px;
    }
}
