.task-card {
    display: flex;
    height: 24vw;
    width: 65vw;
    justify-content: center;
    align-items: center;
    background: var(--surface-container);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 0vw 20px;
    max-height: 120px;
    max-width: 600px;
    box-shadow: 0px 1px 20px -15px rgba(0, 0, 0, 1);
}

.play-button {
    background: var(--primary);
    height: 16vw;
    width: 16vw;
    border-radius: 15px;
    color: var(--on-primary);
    padding: 0px 0px;
    margin-right: 2vw;
    max-height: 80px;
    max-width: 80px;
    transition: 0.5s;
}

.play-button:hover {
    transition: 0.5s;
    box-shadow: 0px 1px 20px -10px rgba(0, 0, 0, 1);
}

.play-button h1 {
    margin: 0;
    font-size: 30px;
}

.task-column {
    height: 15vw;
    display: flex;
    flex-direction: column;
    max-height: 80px;
    max-width: 400px;
}

.task-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 8vw;
    max-height: 40px;
}

.task-name {
    color: var(--primary);
    margin: 0;
    font-size: 15px;
    overflow-x: scroll;
}

.playlist-name {
    color: var(--secondary);
    margin: 0;
    font-size: 15px;
    overflow-x: scroll;
}

.time-box {
    background-color: var(--secondary-container);
    border-radius: 30px;
    width: 35vw;
    height: 8vw;
    margin-left: 2vw;
    max-height: 40px;
}

.time {
    color: var(--secondary);
    margin: 0;
    font-size: 25px;
}

.task-control {
    background: var(--tertiary);
    padding: 0;
}

.done {
    color: var(--on-tertiary);
}

.delete {
    color: var(--on-tertiary);
}

.playlist-button {
    background: var(--secondary);
    height: 16vw;
    width: 16vw;
    border-radius: 20px;
    margin-left: 1em;
    color: var(--on-primary);
    max-width: 80px;
    max-height: 80px;
    display: none;
}

.playlist-button h1 {
    margin: 0;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--error);
    color: var(--on-error);
    height: 3vw;
    width: 1vw;
    font-size: 10px;
    margin-left: 2vw;
    max-height: 40px;
}

.delete-spacer {
    width: 9%;
    display: none;
}

.task-name::-webkit-scrollbar {
    display: none;
}

.playlist-name::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 375px) {
    .task-name {
        font-size: 20px;
    }

    .playlist-name {
        font-size: 20px;
    }
}

@media screen and (min-width: 414px) {
    .timer {
        font-size: 25px;
    }
}

@media screen and (min-width: 445px) {
    .time {
        font-size: 30px;
    }
}

@media screen and (min-width: 550px) {
    .task-name {
        font-size: 25px;
    }

    .playlist-name {
        font-size: 25px;
    }

    .time {
        font-size: 35px;
    }
}

@media screen and (min-width: 650px) {
    .playlist-button {
        display: block;
    }
}
