.add-task-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20vw;
}

.form-col {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
}

.inputs-col {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: left;
}

.taskifier-title {
    color: var(--secondary);
    margin-top: 2vw;
    margin-bottom: 0vw;
}

.generate-button {
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
    margin-top: 1em;
    margin-right: 60px;
    height: 3em;
    width: 50%;
    border-radius: 15px;
    padding: 0px 0px;
}

.task-name-form {
    color: var(--primary);
    text-align: left;
}

.input-field {
    background-color: #ffffff;
    border: none;
    height: 2em;
    margin-bottom: 0.3em;
    color: var(--primary);
    font-size: 1em;
}

.vibe {
    color: var(--secondary);
    text-align: left;
}

.timer-label {
    color: var(--tertiary);
    text-align: left;
    overflow-x: auto;
    white-space: nowrap;
}

.category {
    color: var(--on-secondary-container);
    text-align: left;
}

.add-task-button {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.back {
    background: none;
    font-size: large;
    height: 2.6em;
    width: 60px;
    margin-top: 0.8em;
}

@media screen and (min-width: 375px) {
    .generate-button {
        width: 50vw;
    }
}

@media screen and (min-width: 540px) {
    .form-row {
        flex-direction: row;
    }

    .generate-square {
        background: var(--tertiary);
        height: 20vh;
        width: 20vh;
        border-radius: 30px;
        color: var(--on-tertiary);
    }

    .inputs-col {
        margin-top: 40px;
    }

    .button-row {
        height: 55px;
    }

    .generate-button {
        max-width: 250px;
        margin-top: 45px;
    }

    .back {
        margin-top: 45px;
    }

    .taskifier-title {
        margin-top: 20px;
    }
}
