.add-task-card {
    display: flex;
    height: 24vw;
    width: 65vw;
    justify-content: center;
    align-items: center;
    background: var(--surface-container);
    border-radius: 20px;
    padding: 0vw 20px;
    margin-bottom: 20px;
    max-height: 120px;
    max-width: 600px;
}

.activated {
    position: fixed;
    top: 24vw;
    height: 115vw;
    width: 80vw;
    border-radius: 50px;
    max-height: 400px;
}

@media screen and (min-width: 375px) {
    .activated {
        top: 21vw;
        height: 103vw;
    }
}

@media screen and (min-width: 540px) {
    .activated {
        top: 120px;
        height: 90vw;
    }
}
