.do-task-name {
    color: var(--tertiary);
    font-size: 2em;
}

.timer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tertiary-container);
    color: var(--on-tertiary-container);
    height: 20em;
    width: 40em;
    margin-bottom: 15em;
    border-radius: 60px;
}

.time-value {
    font-size: 10em;
}

.task-not-complete {
    display: none;
}

.task-complete {
    display: block;
}
