.add-button {
    background: var(--tertiary);
    height: 16vw;
    width: 65vw;
    border-radius: 15px;
    color: var(--on-tertiary);
    margin: 2.5vw 0px;
    padding: 0px 0px;
    max-height: 80px;
}

.add-button h1 {
    font-size: 30px;
    margin: 0;
}
